body {
  margin: 0;
  font-family: arial;
  direction: rtl;
  background: #f5f0e6;
}

.login-container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 120px;

  background:
    linear-gradient(rgba(245, 240, 230, 0.4)), url("../img/Hero.jpeg");
  background-size: cover;
  background-position: center;
}

.login-box {
  width: 360px;
  background: #ffffff;
  padding: 35px 32px;
  border-radius: 16px;
  box-shadow: 0 10px 30px rgba(43, 30, 22, 0.18);
  border: 1px solid #e2d2b8;
  display: flex;
  flex-direction: column;
}

.login-box h2 {
  text-align: center;
  margin-bottom: 25px;
  color: #2b1e16;
  font-size: 28px;
}

.input-group {
  display: flex;
  align-items: center;
  border: 1px solid #ddd;
  border-radius: 10px;
  margin: 12px 0;
  padding: 4px 12px;
  background: #fafafa;
}

.input-group input {
  border: none;
  outline: none;
  width: 100%;
  padding: 13px 8px;
  background: transparent;
  font-size: 14px;
}

.input-group:focus-within {
  border-color: #d8c39a;
}

.options {
  margin: 12px 0;
  font-size: 14px;
  color: #4a3728;
}

.login-box button {
  width: 100%;
  background: #4a3728;
  color: white;
  border: none;
  padding: 13px;
  border-radius: 10px;
  cursor: pointer;
  margin-top: 10px;
  font-size: 15px;
  font-weight: bold;
}

.login-box button:hover {
  background: #2b1e16;
}

.login-box p {
  text-align: center;
  margin-top: 20px;
  color: #333;
}

.login-box a {
  color: #6b4b35;
  text-decoration: none;
  font-weight: bold;
}

.login-box a:hover {
  text-decoration: underline;
}
